body {
    margin: auto;
    padding: 0;
}
.container {
    display: block;
    border: 1px solid bisque;
}
.nav {
    display: flex;
    border: 1px solid bisque;
    justify-content: space-around;
    align-items: center;
}